[submodule "php-dev/salt/salt/formula/apache"]
	path = php-dev/salt/salt/formula/apache
	url = https://github.com/mkhubbard/apache-formula
[submodule "php-dev/salt/salt/formula/php"]
	path = php-dev/salt/salt/formula/php
	url = https://github.com/mkhubbard/php-formula
[submodule "php-dev/salt/salt/formula/git"]
	path = php-dev/salt/salt/formula/git
	url = https://github.com/mkhubbard/git-formula
[submodule "php-dev/salt/salt/formula/postgres"]
	path = php-dev/salt/salt/formula/postgres
	url = git@github.com:saltstack-formulas/postgres-formula.git
