[submodule "php-dev-centos6/salt/salt/formula/apache"]
	path = php-dev-centos6/salt/salt/formula/apache
	url = https://github.com/mkhubbard/apache-formula
[submodule "php-dev-centos6/salt/salt/formula/php"]
	path = php-dev-centos6/salt/salt/formula/php
	url = https://github.com/mkhubbard/php-formula
[submodule "php-dev-centos6/salt/salt/formula/mysql"]
	path = php-dev-centos6/salt/salt/formula/mysql
	url = https://github.com/mkhubbard/mysql-formula
[submodule "php-dev-centos6/salt/salt/formula/git"]
	path = php-dev-centos6/salt/salt/formula/git
	url = https://github.com/mkhubbard/git-formula
[submodule "php-dev-centos7/salt/salt/formula/apache"]
	path = php-dev-centos7/salt/salt/formula/apache
	url = https://github.com/mkhubbard/apache-formula
[submodule "php-dev-centos7/salt/salt/formula/php"]
	path = php-dev-centos7/salt/salt/formula/php
	url = https://github.com/mkhubbard/php-formula
[submodule "php-dev-centos7/salt/salt/formula/mysql"]
	path = php-dev-centos7/salt/salt/formula/mysql
	url = https://github.com/mkhubbard/mysql-formula
[submodule "php-dev-centos7/salt/salt/formula/git"]
	path = php-dev-centos7/salt/salt/formula/git
	url = https://github.com/mkhubbard/git-formula
