{% set apache = salt['grains.filter_by']({
    'Debian': {
        'user': 'www-data',
        'group': 'www-data',      
        'vhostdir': '/etc/apache2/sites-available',
        'default_site_conf': '000-default.conf',
        'default_site_root': '/var/www/html',
    },
    'RedHat': {
        'user': 'apache',
        'group': 'apache',
        'vhostdir': '/etc/httpd/conf.d',       
        'default_site_conf': '000-default.conf',
        'default_site_root': '/var/www/html',       
    }
}, merge=salt['pillar.get']('apache:lookup')) %}

{% set php = salt['grains.filter_by']({
    'Debian': {
        'php_devel': 'php5-dev',        
        'pcre_devel': 'libpcre3-dev'
    },
    'RedHat': {
        'php_devel': 'php-devel',  
        'pcre_devel': 'pcre-devel'    
	}
}, merge=salt['pillar.get']('php:lookup')) %}
